$body: #89c6af;
$colors: #DB723B, #C04349, #A4334D, #784776;
// $colors: #FFEBB7, #FF6E31, #243763, #F5ADC1;
$stroke: #563e2e;

@font-face {
    font-family: 'Candice';
    src: url('../public/Candice.woff2') format('woff2'),
        url('../public/Candice.woff') format('woff'),
        url('../public/Candice.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root,
html[data-theme='light'] {
    --background-color: #F5ADC1;
    --text-color: #2b2b33;
    --circle-one: #89379D;
    --circle-two: #EB690F;
    --circle-three: #ECC11B;
    --circle-four: #f6ce91;
    --stroke: #243763;
    --main-background: #f6ce91;
    --card-background: #F5ADC1;
    --shaddow: #AD8E70;
}

html[data-theme='dark'] {
    --background-color: #2b2b33;
    --text-color: #f3f2f9;
    --circle-one: #545456;
    --circle-two: #6f6f82;
    --circle-three: #545456;
    --circle-four: #6f6f82;
    --stroke: #000000;
    --main-background: #545456;
    --card-background: #9797aa;
    --shaddow: #444445;

}

html,
body {
    /* background-color: #ffffff; */
    /* background-color: var(--background-color);
    color: var(--color); */
    width: 100%;
    height: auto;
    font-family: 'Rubik', sans-serif;
    letter-spacing: -.015em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variation-settings: "wght" 500, "wdth" 100;
    font-weight: unset;
    font-size: 1em;
    transition: .25s;
    margin: 0;
    // overflow: hidden;
    background: var(--background-color);
    color: var(--text-color)
}

.canvas,
.background {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.out-top {
    animation: rotate 20s linear infinite;
    transform-origin: 13px 25px;
    fill: var(--circle-one);
    stroke: var(--stroke);
    stroke-width: 0.2;
}

.in-top {
    animation: rotate 10s linear infinite;
    transform-origin: 13px 25px;
    fill: var(--circle-two);
    stroke: var(--stroke);
    stroke-width: 0.2;
}

.out-bottom {
    animation: rotate 25s linear infinite;
    transform-origin: 84px 93px;
    fill: var(--circle-three);
    stroke: var(--stroke);
    stroke-width: 0.2;
}

.in-bottom {
    animation: rotate 15s linear infinite;
    transform-origin: 84px 93px;
    fill: var(--circle-four);
    stroke: var(--stroke);
    stroke-width: 0.2;
}



@mixin retro-shadow($colors, $size: 7) {
    $counter: 0;
    $text-shadow-posX: 0;
    $text-shadow-posY: 0;
    $text-shadow-value: null;

    @each $color in $colors {
        @for $i from 0 to $size {
            $counter: $counter + 1;
            $pos: $counter * 0.01;
            $posX: $pos + em;
            $posY: $pos + em;

            $text-shadow-value: append($text-shadow-value, $posX $posY $color, comma);
        }
    }

    text-shadow: $text-shadow-value;
}

.retro {
    @include retro-shadow($colors);
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #f6ce91;
}

.intro-wrapper {
    height: 100dvh;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    pointer-events: none;
}

.intro-role {
    font-size: 2em;
    font-family: 'Candice';
    color: #f6ce91;
    @include retro-shadow(#784776, 15);
}

.visually-hidden {
    display: none;
}


header {
    pointer-events: none;
    position: absolute;
    z-index: 5;
    top: 48px;
    left: 0;
    right: 0;

    .header-content {
        z-index: inherit;
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        padding: 0 44px 0 48px;
        overflow: visible;

        .left-part {
            pointer-events: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            z-index: inherit;
            gap: 10px;
        }

        .right-part {
            pointer-events: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            z-index: inherit;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;

            li {
                margin-left: 24px;
            }
        }
        .icon-wrapper{
            color: var(--stroke);
            background-color: var(--background-color);
            height: 45px;
            border: 3px solid ;
            border-radius: 100%;
            box-shadow: 4px 2px 0px -2px var(--shaddow), 4px 2px 0px 0px var(--stroke);
            svg {
                margin: auto;
                padding: 7px;
                cursor: pointer;
                color: var(--text-color);
                aspect-ratio: 1/1;
            }
        }
        
    }
}





@media only screen and (max-width: 768px) {
    header {
        top: 24px;

        .header-content {
            padding: 0 22px 0 24px;
        }
    }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
//   * {
//     scrollbar-width: auto;
//     scrollbar-color: #784776 transparent;
//   }

//   /* Chrome, Edge, and Safari */
//   *::-webkit-scrollbar {
//     width: 7px;
//   }

//   *::-webkit-scrollbar-track {
//     background: transparent;
//   }

//   *::-webkit-scrollbar-thumb {
//     background-color: #784776;
//     border-radius: 10px;
//     border: 3px solid transparent;
//   }

.main{
    background-color: var(--main-background);    
    width: 100%;
    position: relative;
    border-radius: 4px;
    height: 100%;
    .projects{   
        max-width: 1480px;
        margin: 0 auto;
        padding: 5% 4%;
        h2{
            font-size: 4rem;
            color: #ffc061;
            @include retro-shadow($colors);

        }
        .project-listing{
            z-index: 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 10px;
            .project-small{
                display: flex;
                flex-direction: column;
                width: 400px;
                border-radius: 10px;
                overflow: hidden;
                margin: 10px;
                color: var(--stroke);
                background-color: var(--card-background);
                box-shadow: 10px 10px var(--shaddow), 10px 10px 0px 4px var(--stroke);
                transition: all 0.2s linear;
                border: 4px solid ;
                text-decoration: none;
                &:hover{
                    // scale: 1.03;
                    translate: 0px -10px; ;
                    cursor: pointer;
                }
                .sub-text{
                    margin: 0 10px;
                    h3{
                        font-size: 2rem;
                        margin: 10px 0px;
                    }
                    .skills > span{
                        border: 3px solid;
                        padding: 5px 10px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        margin: 4px 2px;
                        cursor: pointer;
                        border-radius: 16px;
                    }
                    p:not(:first-of-type){
                        margin: 0;
                    }
                }
                .icons{
                    display: flex;
                    gap: 10px;
                    justify-content: flex-end;
                    margin: auto 10px 10px 10px;
                    margin-top: auto;
                    svg{
                        font-size: 2rem;
                        color: var(--stroke);
                        transition: all 0.2s linear;
                        &:hover{
                            color: #ffffff;
                        }
                    }
                }
               
            }
        }
        
    }
}
